@model Task_BaoCaoPhanTich.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/Boostrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Assets/css/Show.css" rel="stylesheet" />

<div class="main">
    <!-- ---------------------------- MAIN START---------------------------- -->
    <div class="row title">
        <div class="col-sm">
            <h5>Yêu cầu khách hàng: <span>@Html.DisplayFor(model => model.TenDL)</span></h5>
        </div>
    </div>
    <div class="row input">
        @Html.DisplayFor(model => model.img1)
    </div>
    <div class="row title">
        <div class="col-sm">
            <h5>Kết luận: <span>@Html.DisplayFor(model => model.KetLuan) </span></h5>
        </div>
    </div>
    <div class="row input">
        @Html.DisplayFor(model => model.img2)
    </div>
    <div class="row input">
        @Html.DisplayFor(model => model.img2)
    </div>
    <!-- ---------------------------- MAIN END---------------------------- -->
    <!-- ---------------------------- FOOTER START---------------------------- -->
    <div class="row footer">
    </div>
    <!-- ---------------------------- FOOTER END---------------------------- -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> |
            <button type="button" class="btn-success btn-lg" style="margin: 5px; border: none;">
                @Html.ActionLink("Back to List", "Index")
            </button>
        </div>
    }
</div>